.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    padding: 40px;
  }
  
  
  .fetch-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px;
  }
  
  .fetch-container img {
    margin-top: 15px; 
    width: 100%; 
    max-width: 200px; 
    border-radius: 8px; 
  }
  
  
  .fetch-multiple-files div {
    text-align: center; 
    margin-bottom: 20px; 
  }
  
  .fetch-multiple-files img {
    margin-top: 10px; 
    width: 100%;
    max-width: 200px; 
    border-radius: 8px; 
  }
  
  
  .file-upload-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 20px;
  }
  
  .file-upload-container input {
    margin-bottom: 20px; 
  }
  
  h1,
  h2,
  h3 {
    text-align: center; 
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
  }
  
  input {
    background-color: #626262;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
    transition: background-color 1s ease;
  }